button {
	display: inline-block;
	background: none;
	color: inherit;
	border: none;
	font: inherit;
    height: 50px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 50px;
}

#button-0 {
    background-image: url( 'https://i.ya-webdesign.com/images/orange-dot-png-6.png' );
    background-size: 50px 50px;
    color: #f49b42;
    height: 50px;  
    width: 50px;
}
#button-4 {
    background-image: url( 'https://i.ya-webdesign.com/images/orange-dot-png-6.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-9 {
    background-image: url( 'https://i.ya-webdesign.com/images/orange-dot-png-6.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-hash {
    background-image: url( 'https://i.ya-webdesign.com/images/orange-dot-png-6.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-6 {
    background-image: url( 'https://i.ya-webdesign.com/images/orange-dot-png-6.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-2 {
    background-image: url( 'https://thejpechunt.tk/assets/images/blue-dot.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-5 {
    background-image: url( 'https://thejpechunt.tk/assets/images/blue-dot.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-8 {
    background-image: url( 'https://thejpechunt.tk/assets/images/blue-dot.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-1 {
    background-image: url( 'https://thejpechunt.tk/assets/images/green-dot.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-3 {
    background-image: url( 'https://thejpechunt.tk/assets/images/green-dot.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-7 {
    background-image: url( 'https://thejpechunt.tk/assets/images/green-dot.png' );
	background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#button-ast {
    background-image: url( 'https://thejpechunt.tk/assets/images/red-dot.png' );
    background-size: 50px 50px;
    color: #f46a41;
    height: 50px;  
    width: 50px;
}